
/*-------------------------------------------------
 =  Table of Css

 1.Isotope 								
 2.General 							
 3.Header					
 4.Content home page1								
 5.Footer								
 6.About page 
 7.Portfolio page 3,4 Column		
 8.Contact-page 								
 9.home page 2								
 10.home page 3 							
 11.Blog						
 12.Sidebar						
 13.Single-post							
 14.Single-work					
-------------------------------------------------*/



/*-------------------------------------------------------*/
/* 1. Isotope filtering
/*-------------------------------------------------------*/

.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item {/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property:-moz-transform, opacity;
	transition-property:transform, opacity;
}

/*-------------------------------------------------*/
/* 2 General
/*-------------------------------------------------*/

h1, h2, h3, h4, h5, h6, p, blockquote, img {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
	margin: 0;
}

body {
	background: url('../images/background.jpg');
}

#container.boxed-style {
	max-width: 1230px;
	margin: 50px auto;
	overflow: hidden;
	position: relative;
	background: #fff;
}

#container {
	max-width: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
	background: #fff;
}

/*-------------------------------------------------*/
/* 3 Header
/*-------------------------------------------------*/

.navbar-fixed-top {
	position: fixed;
	z-index: 9999999;
}

#container.boxed-style .navbar-fixed-top {
	position: absolute;
}

.navbar-fixed-top .navbar-inner {
	background: #315BA6;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	border: none;
}

.navbar a.brand {
	padding: 27px 0 20px;
	margin: 0;
}

.nav-collapse {
	float: right;
	margin-top: 20px;
}

.nav-collapse .nav > li > a {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 15px 19px;
	border-radius: 24px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-o-border-radius: 24px;
	transition: all 0.17s linear;
	-moz-transition: all 0.17s linear;
	-webkit-transition: all 0.17s linear;
	-o-transition: all 0.17s linear;
}

.nav-collapse .nav > li.drop > a {
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-o-border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-o-border-bottom-right-radius: 0px;
}

.nav-collapse .nav > li.drop:hover > a {
	color: #000;
	background: #fff;
}

.nav-collapse .nav > li {
	position: relative;
}

.nav-collapse .nav > li > a:hover {
	color: #000;
	background: #fff;
}

.dropdown {
	position: absolute;
	padding: 1px;
	left: 0;
	top: 100%;
	visibility: hidden;
	opacity: 0;
	background: #fff;
	width: 150px;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.nav-collapse .nav > li.drop:hover .dropdown {
	visibility: visible;
	opacity: 1;
}

.dropdown li {
	border-top: 1px solid #e7e7e7;
}

.dropdown li:first-child {
	border-top: none;
}

.dropdown li a {
	display: inline-block;
	text-decoration: none;
	color: #585858;
	font-size: 13px;
	padding: 7px 0;
	text-indent: 14px;
	width: 100%;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.dropdown li a:hover {
	color: #fff;
	background: #315BA6;
}

/*-------------------------------------------------*/
/* 4 Content home page1
/*-------------------------------------------------*/

.services {
	text-align: center;
	margin-bottom: 20px;
}

.services a {
	display: inline-block;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border: 1px solid #e3e3e3;
	width: 92px;
	height: 92px;
	text-align: center;
	padding: 0;
	margin-bottom: 26px;
	transition: all 0.17s linear;
	-moz-transition: all 0.17s linear;
	-webkit-transition: all 0.17s linear;
	-o-transition: all 0.17s linear;
}

.services a:hover {
	border: 1px solid #315BA6;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.services a.responsive {
	background: #fff url('../images/icons/confirmation-(ta2keed).png') center center no-repeat;
}

.services a.support {
	background: #fff url('../images/icons/diversity-(eltanawo3).png') center center no-repeat;
}

.services a.builder {
	background: #fff url('../images/icons/efficiency-(kafa2a).png') center center no-repeat;
}

.services a.customizable {
	background: #fff url('../images/icons/guarantee-(eldaman).png') center center no-repeat;
}

.services a.responsive:hover {
	background: #315BA6 url('../images/icons-inverse/confirmation-(ta2keed).png') center center no-repeat;
}

.services a.support:hover {
	background: #315BA6 url('../images/icons-inverse/diversity-(eltanawo3).png') center center no-repeat;
}

.services a.builder:hover {
	background: #315BA6 url('../images/icons-inverse/efficiency-(kafa2a).png') center center no-repeat;
}

.services a.customizable:hover {
	background: #315BA6 url('../images/icons-inverse/guarantee-(eldaman).png') center center no-repeat;
}

.services h2 {
	color: #000;
	font-size: 20px;
	font-weight: 300;
	line-height: inherit;
	margin-bottom: 20px;
}

.services h2 span {
	color: #000;
	font-size: 20px;
	font-weight: 600;
	line-height: inherit;
	margin-bottom: 30px;
}

.recent-projects > h2,
.team > h2,
.contact-page > h2,
.blog > h2,
.single-work > h2 {
	color: #000;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 23px;
}

.recent-projects > h2 span,
.team > h2 span,
.contact-page > h2 span,
.blog > h2 span,
.single-work > h2 span {
	display: inline-block;
	padding-bottom: 18px;
	border-bottom: 6px solid #315BA6;
	margin-bottom: -1px;
}

.project-post {
	position: relative;
	overflow: hidden;
	margin-bottom: 22px;
}

.project-post img {
	width: 100%;
}

.project-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(49, 91, 166,0.9);
	background: rgb(49, 91, 166)\0/;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-webkit-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
}

.project-content h2 {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
	line-height: inherit;
	margin-bottom: 10px;
	margin-top: -50px;
	transition: all 0.17s linear;
	-moz-transition: all 0.17s linear;
	-webkit-transition: all 0.17s linear;
	-o-transition: all 0.17s linear;
}

.project-content p {
	color: #fff;
	font-size: 13px;

	line-height: 18px;
	margin-bottom: 10px;
	padding: 0 15px;
	max-height: 54px;
	overflow: hidden;
	opacity: 0;
	transition: all 0.22s linear;
	-moz-transition: all 0.22s linear;
	-webkit-transition: all 0.22s linear;
	-o-transition: all 0.22s linear;
}

.zoom-image,
.link-image {
	display: inline-block;
	width: 41px;
	height: 41px;
	position: absolute;
	bottom: -80px;
	left: 50%;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.zoom-image:hover,
.link-image:hover {
	opacity: 0.5;
}

.zoom-image {
	background: rgba(0,0,0,0.1) url('../images/zoom.png') center center no-repeat;
	background: rgb(0,0,0) url('../images/zoom.png') center center no-repeat\0/;
	margin-left: -41px;
}

.link-image {
	background: rgba(0,0,0,0.1) url('../images/link.png') center center no-repeat;
	background: rgb(0,0,0) url('../images/link.png') center center no-repeat\0/;
	margin-left: 2px;
}

.project-post:hover .project-content {
	visibility: visible;
	opacity: 1;
}

.project-post:hover .project-content h2 {
	margin-top: 20px;
}

.project-post:hover .project-content p {
	opacity: 1;
}

.project-post:hover .zoom-image,
.project-post:hover .link-image {
	bottom: 18px;
}

#next-project,
#prev-project {
	display: inline-block;
	position: absolute;
	width: 9px;
	height: 18px;
	top: -58px;
}

#myCarousel {
	position: relative;
}

#next-project {
	right: 0;
	background: url('../images/next.png') center center no-repeat;
}

#prev-project {
	right: 28px;
	background: url('../images/prev.png') center center no-repeat;
}

.team-member {
	margin-bottom: 30px;
	overflow: hidden;
}

.team-member h3 {
	text-align: center;
	padding: 20px 10px;
	line-height: inherit;
	margin: 0;
	color: #fff;
	font-size: 15px;

	font-weight: 600;
	background: #315ba6;
	position: relative;
}

.team-member h3:after {
	position: absolute;
	content: '';
	width: 0;
	left: 0;
	border: 18px solid #315ba6;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	bottom: -36px;
	left: 50%;
	margin-left: -18px;
}

.team-member img {
	width: 100%;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

.team-member:hover img {
	/* transform:scale(1.5) rotate(360deg); */
	/* -webkit-transform:scale(1.5) rotate(360deg); */
	/* 	-moz-transform:scale(1.5) rotate(360deg);
        -o-transform:scale(1.5) rotate(360deg);
        -ms-transform:scale(1.5) rotate(360deg); */
}

.team-member div {
	position: relative;
	overflow: hidden;
	background: #2b2b2b;
	margin-top: -5px;
	padding: 12px 14px;
}

/* .team-member div:after {
	position: absolute;
	content: '';
	width: 32px;
	height: 61px;
	left: 124px;
	top: 0;
	background: url('../images/big-arrow.png') center center no-repeat;
} */

.team-member div span {
	display: inline-block;
	float: left;
	margin-top: 9px;
	color: #b0b0b0;
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
}

ul.social-network {
	margin: 0;
	padding: 0;
	float: right;
}

ul.social-network li {
	display: inline-block;
	float: left\0/;
	margin-left: 8px;
}

ul.social-network li:first-child {
	margin-left: 0px;
}

ul.social-network li a {
	display: inline-block;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	margin-bottom: -5px;
}

ul.social-network li a:hover {
	opacity: 0.8;
}

ul.social-network li a.fb {
	background: #555555 url('../images/fb.png') center center no-repeat;
}

ul.social-network li a.twitter {
	background: #555555 url('../images/twitter.png') center center no-repeat;
}

ul.social-network li a.google {
	background: #555555 url('../images/google.png') center center no-repeat;
}

ul.social-network li a.in {
	background: #555555 url('../images/in.png') center center no-repeat;
}

.quote blockquote {
	padding: 22px 192px 33px 20px;
	background: #315BA6;
	line-height: 24px;
	font-weight: 300;
	overflow: hidden;
	margin-bottom: 32px;
	position: relative;
}

.quote blockquote span {
	font-weight: 600;
}

.quote blockquote img {
	float: left;
	margin-right: 24px;
	margin-top: 7px;
}

.quote blockquote p {
	margin-top: 10px;
	color: #fff;
	font-size: 21px;
}

.quote blockquote a {
	position: absolute;
	top: 22px;
	right: 22px;
	display: inline-block;
	padding: 12px 30px;
	background: #2b2b2b;
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 8px;
	text-decoration: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.quote blockquote a:hover {
	opacity: 0.8;
}

/*-------------------------------------------------*/
/* 5 Footer
/*-------------------------------------------------*/

footer {
	background: #1d2325;
}

.footer-widget {
	padding: 35px 0;
}

.footer-widget .widget{
	margin-bottom: 20px;
}

.footer-widget h3 {
	color: #fff;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 27px;
	border-bottom: 1px solid #010202;
}

.footer-widget h3 span {
	display: inline-block;
	padding-bottom: 15px;
	border-bottom: 5px solid #315ba6;
	margin-bottom: -1px;
}

.footer-widget p {
	color: #fff;
	font-size: 13px;
	/* font-family: 'Open Sans', sans-serif; */
	line-height: 17px;
	margin-bottom: 15px;
}

.post-widget p a {
	color: #fff;
}

.tweet-widget p {
	margin-bottom: 0;
}

.tweet-widget div span {
	display: block;
	color: #fff;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	line-height: 17px;
}

.tweet-widget div {
	margin-bottom: 15px;
}

.tweet-widget p a {
	color: #3bbbf1;
}

.flickr-widget ul {
	margin: 0;
	padding: 0;
}

.flickr-widget ul li {
	display: inline-block;
	margin-bottom: 6px;
	margin-right: 2px;
}

.flickr-widget ul li a {
	position: relative;
	display: inline-block;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
}

.flickr-widget ul li a:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 6px solid #20272b;
}

.flickr-widget ul li a:hover:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 6px solid #315BA6;
}

.flickr-widget ul li a:hover {
	opacity: 0.8;
}

.last-line {
	padding: 14px 0;
	background: #315ba6;
}

.last-line p {
	color: #c2c2c2;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	margin-top: 12px;
	float: left;
}

.right-social {
	text-align: right;
}

.right-social a.go-to-top {
	display: inline-block;
	float: right;
	width: 52px;
	height: 52px;
	margin-left: 20px;
	background: #002c79 url(../images/go-top.png) center center no-repeat;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.right-social a.go-to-top:hover {
	opacity: 0.7;
}

.social-list {
	margin: 0;
	padding: 0;
	padding-top: 9px;
}

.social-list li {
	display: inline-block;
	margin-left: 3px;
}

.social-list li a {
	display: inline-block;
	width: 32px;
	height: 32px;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.social-list li a:hover {
	opacity: 0.7;
}

.social-list li a.fb {
	background: url('../images/socio1.png') center center no-repeat;
}

.social-list li a.twitter {
	background: url('../images/socio2.png') center center no-repeat;
}

.social-list li a.in {
	background: url('../images/socio3.png') center center no-repeat;
}

.social-list li a.flickr {
	background: url('../images/socio4.png') center center no-repeat;
}

/*-------------------------------------------------*/
/* 6 About page
/*-------------------------------------------------*/

#banner {
	margin-top: 90px;
	padding: 40px 0;
	background: url('../images/banner.jpg');
	margin-bottom: 26px;
	min-height: 92px;
}

#banner p {
	color: #fff;
	font-size: 29px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 33px;
	padding: 10px 130px;
	max-height: 62px;
	overflow: hidden;
}

#banner p span {
	font-weight: 600;
	background: none;
}

/*-------------------------------------------------*/
/* 7. Portfolio page 3,4 Column
/*-------------------------------------------------*/
.projects-container {
	width: 1200px;
}

.projects-container .project-post {
	max-width: 270px;
	margin-right: 30px;
}

.projects-container.column-three .project-post {
	max-width: 370px;
	margin-right: 30px;
}



.filter-items li {
	float: left;
	margin-left: 25px;
}

.filter-items li:first-child {
	margin-left: 0px;
}

.filter-items li a {
	display: inline-block;
	color: #000;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom: 18px;
	border-bottom: 6px solid transparent;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.filter-items li a.active,
.filter-items li a:hover {
	color: #315BA6;
	border-bottom: 6px solid #315BA6;
}

.pagination-list {
	overflow: hidden;
	margin-bottom: 30px;
}

.pagination-list li {
	float: left;
	margin-right: 6px;
}

.pagination-list li a {
	display: inline-block;
	color: #fff;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	padding: 7px 12px;
	text-decoration: none;
	background: #74777b;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.pagination-list li a:hover {
	background: #315BA6;
}

/*-------------------------------------------------*/
/* 8 Contact page
/*-------------------------------------------------*/

#map {
	width: 100%;
	height: 380px;
	margin-bottom: 30px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
}

.contact-page h3,
.comments-section h2,
.leave-comment h2 {
	color: #000;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom: 16px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 17px;
}

.contact-page p {
	color: #585858;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 21px;
	margin-bottom: 22px;
}

.contact-info p img {
	margin-right: 10px;
}

.contact-info p {
	margin-bottom: 10px;
}

.contact-page p a {
	color: #585858;
	text-decoration: underline;
}

#contact-form,
#contact-form2 {
	padding-bottom: 50px;
	margin-bottom: 28px;
}

#contact-form input[type="text"],
#contact-form textarea,
#contact-form2 input[type="text"],
#contact-form2 textarea {
	color: #737373;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #cecece;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	width: 90%;
	padding: 9px 5%;
	margin: 0;
	margin-bottom: 10px;
}

#contact-form textarea,
#contact-form2 textarea {
	display: block;
	width: 97%;
	height: 77px;
	padding: 9px 1.5%;
	margin-bottom: 18px;
}

#contact-form input[type="submit"],
#contact-form2 input[type="submit"] {
	display: inline-block;
	float: right;
	color: #fdfdfd;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	padding: 15px 20px;
	background: #315BA6;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
	border: none;
}

#contact-form input[type="submit"]:hover,
#contact-form2 input[type="submit"]:hover {
	opacity: 0.8;
}

#contact-form .message {
	float: left;
	height:30px;
	font-size:12px;
}

#contact-form .message.error {
	color:#eb2c06;
}

#contact-form .message.success {
	color:#315BA6;
}

/*-------------------------------------------------*/
/* 9 home page 2
/*-------------------------------------------------*/

.services-home2 article {
	overflow: hidden;
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 7px;
}

.services-home2 article img {
	float: left;
	margin-right: 18px;
	margin-bottom: 12px;
}

.services-home2 article h3 {
	color: #464646;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	line-height: inherit;
	text-transform: uppercase;
	margin: 0;
	margin-top: -3px;
}

.services-home2 article span {
	color: #3c3c3c;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	display: block;
	line-height: 15px;
	margin: 0;
}

.services-home2 p {
	color: #797979;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	margin-bottom: 40px;
}

.testimonial {
	position: relative;
	margin-bottom: 30px;
}

.testimonial > a {
	position: absolute;
	width: 33px;
	height: 33px;
	top: 0px;
	border: 1px solid #696969;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.testimonial > a:hover {
	opacity: 0.7;
}

.testimonial > a#next-testimonial {
	right: 0;
	background: #4c4c4c url('../images/next-testim.png') center center no-repeat;
	border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-o-border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-o-border-bottom-right-radius: 3px;
}

.testimonial > a#prev-testimonial {
	right: 40px;
	background: #4c4c4c url('../images/prev-testim.png') center center no-repeat;
	border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-o-border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	-o-border-bottom-left-radius: 3px;
}

.testimonial h2 {
	color: #000;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
	margin-top: 10px;
}

.testimonial ul {
	padding: 23px 21px;
	background: #f1f1f1;
	border: 1px solid #e8e8e8;
}

.testimonial ul li blockquote {
	color: #6d6d6d;
	font-size: 16px;
	font-family: georgia;
	line-height: 23px;
	font-style: italic;
	margin-bottom: 14px;
}

.testimonial ul li h4 {
	color: #484848;
	font-size: 17px;
	font-family: georgia;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	margin-bottom: 2px;
}

.testimonial ul li span {
	color: #315BA6;
	font-size: 11px;
	font-family: georgia;
	font-style: italic;
	margin: 0;
}

ul.tab-list {
	overflow: hidden;
}

ul.tab-list li {
	float: left;
	text-align: center;
	z-index: 100;
	cursor: pointer;
	margin-left: 6px;
	margin-left: 4px\0/;
}

.tab-list li:first-child{
	margin-left: 0;
}

.tab-list li a {
	display: inline-block;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	color: #000;
	background: #eaeaea;
	text-transform: uppercase;
	padding: 24px 41px;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
}

.tab-list li a:hover {
	text-decoration: none;
	background: #315BA6;
	color: #fff;
}

.ui-state-active a {
	background: #315BA6 !important;
	color: #fff !important;
	outline: none !important;
	text-decoration: none !important;
}

.tab-content {
	padding: 18px 20px;
	margin-bottom: 30px;
	border: 1px solid #eaeaea;
}

.tab-content p {
	color: #646464;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 20px;
}

.accordion h2 {
	color: #000;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	margin: 0;
	padding: 23px 22px;
	background: #eaeaea url('../images/open.png') 95% center no-repeat;
	margin-top: 1px;
	cursor: pointer;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.accordion h2:first-child {
	margin-top: 0px;
}

.accordion h2.active {
	color: #fff;
	background: #315BA6 url('../images/close.png') 95% center no-repeat;
}

.accordion div {
	padding: 12px 22px;
	border: 1px solid #e8e8e8;
	border-top: none;
}

.accordion div.active {
	display: block;
}

.accordion div p {
	color: #646464;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 20px;
	margin: 0;
}

.accordion div p span {
	color: #000;
	font-weight: bold;
}

/*-------------------------------------------------*/
/* 10 home page 3
/*-------------------------------------------------*/

.services-home3 h3 {
	color: #797979;
	font-size: 15px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 12px;
}

.services-home3 img {
	margin-right: 15px;
	margin-bottom: -5px;
}

.services-home3 p {
	color: #797979;
	font-size: 12px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 18px;
	margin-bottom: 30px;
}

.tabb-accord .recent-projects > h2 span {
	padding-bottom: 15px;
}

.tabb-accord .recent-projects > h2 {
	margin-bottom: 20px;
}

.tabb-accord .recent-projects > h2 {
	margin-bottom: 20px;
}

.tabb-accord .recent-projects .project-post img {
	max-height: 245px;
}

/*-------------------------------------------------*/
/* 11 Blog
/*-------------------------------------------------*/

.blog-post {
	position: relative;
	margin-bottom: 25px;
}

.blog-post:after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 100%;
	height: 15px;
	background: url('../images/blog-backline.png');
}

.blog-post .post-date {
	position: absolute;
	background: #315BA6 url('../images/calendar.png') center 13px no-repeat;
	top: 0;
	left: 0;
	width: 65px;
	padding: 42px 0 12px;
	text-align: center;
	border-right: 6px solid #fff;
	border-bottom: 6px solid #fff;
	z-index: 2;
}

.blog-post .post-date span {
	display: block;
	color: #fbfbfb;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	line-height: 14px;
}

.blog-post .post-content > img {
	width: 100%;
	margin-bottom: 20px;
}

.blog-post .post-content h1 {
	color: #1b1b1b;
	font-size: 22px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	margin: 0;
	margin-bottom: 7px;
}

.blog-post .post-content h1 a {
	color: #1b1b1b;
	text-decoration: none;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.blog-post .post-content h1 a:hover {
	color: #315BA6;
}

.blog-post .post-content p {
	color: #585858;
	font-size: 14px;
	font-family: 'Noto Sans', sans-serif;
	margin: 0;
	margin-bottom: 20px;
	line-height: 21px;
}

.blog-tags {
	display: inline-block;
	background: #315BA6;
	padding: 19px 60px 19px 23px;
	position: relative;
	margin-bottom: 36px;
}

.blog-tags ul li {
	display: inline-block;
	margin-left: 9px;
}

.blog-tags ul li:first-child {
	margin-left: 0px;
}

.blog-tags ul li:before {
	content: '/';
	color: #028953;
	font-size: 12px;
	font-family: 'Noto Sans', sans-serif;
	margin-right: 12px;
}

.blog-tags ul li:first-child:before {
	content: '';
	margin: 0;
}

.blog-tags ul li a {
	display: inline-block;
	color: #ffffff;
	font-size: 12px;
	font-family: 'Noto Sans', sans-serif;
	font-style: italic;
	text-decoration: none;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.blog-tags ul li a:hover {
	opacity: 0.7;
}

.blog-tags a.read-more {
	position: absolute;
	width: 32px;
	height: 41px;
	top: 9px;
	right: 9px;
	background: #000 url('../images/blog-arrow.png') center center no-repeat;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.blog-tags a.read-more:hover {
	opacity: 0.7;
	background: #000 url('../images/blog-arrow.png') 12px center no-repeat;
}

.blog-post iframe {
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}

.pagination-list.blog-pagination a {
	border-radius: 3px;
	-wekit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	background: #f3f3f3;
	color: #000;
}

.pagination-list.blog-pagination a:hover {
	color: #fff;
}

/*-------------------------------------------------*/
/* 12 Sidebar
/*-------------------------------------------------*/

.widgets li.widget {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #dedede;
}

.widgets li.widget h3 {
	color: #585858;
	font-size: 17px;
	font-family: 'Noto Sans', sans-serif;
	margin-bottom: 14px;
	font-weight: 700;
}

#search-bar {
	margin: 0;
	position: relative;
}

#search-bar input[type="text"] {
	color: #f1f1f1;
	font-size: 12px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	width: 100%;
	background: #353535;
	padding: 7px 0;
	text-indent: 8px;
	border: none;
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	border-radius: 4px;
	-wekit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}

#search-bar input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	padding: 0;
	width: 38px;
	height: 34px;
	border-top-right-radius: 4px;
	-wekit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-wekit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	border: none;
	background: #315BA6 url('../images/zoom-search.png') center center no-repeat;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

#search-bar input[type="submit"]:hover {
	opacity: 0.7;
}

.recent-post-item {
	overflow: hidden;
	margin-bottom: 18px;
}

.recent-post-item img {
	float: left;
	margin-right: 10px;
}

.recent-post-item p {
	color: #353535;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 18px;
}

.recent-post-item p a {
	color: #353535;
}

.tag-list li {
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 7px;
}

.tag-list li a {
	display: inline-block;
	position: relative;
	background: #353535;
	color: #fff;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	padding: 6px 34px 6px 9px;
	text-decoration: none;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.tag-list li a span {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background: #315BA6;
	color: #fff;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: 300;
	padding: 6px 9px 6px 9px;
	z-index: 2;
}

.tag-list li a:hover {
	opacity: 0.7;
}

.tweet-widget .tweet-list li {
	margin-bottom: 10px;
}

.tweet-widget .tweet-list li p {
	color: #353535;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 17px;
}

.tweet-widget .tweet-list li p a {
	color: #34a6fe;
}

.tweet-widget .tweet-list li span {
	display: block;
	color: #b0b0b0;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 17px;
}

.sidebar .text-widget p {
	color: #585858;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 20px;
}

/*-------------------------------------------------*/
/* 13 Single-post
/*-------------------------------------------------*/

.single-post .blog-tags {
	padding: 19px 23px;
}

.comments-section h2,
.leave-comment h2 {
	padding-bottom: 0;
	border-bottom: none;
}

.comments-section {
	margin-bottom: 10px;
}

.comment-content {
	overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
}

.comment-item.depth {
	margin-left: 72px;
}

.comment-item img {
	float: left;
	margin-right: 10px;
}

.comment-content div {
	margin-left: 72px;
}

.comment-item div h3 {
	color: #000;
	font-size: 14px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 15px;
	margin: 0;
}

.comment-item div h3 span.time {
	font-size: 11px;
}

.comment-item div p {
	color: #7b7b7b;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 16px;
	margin: 0;
}

.reply-comment {
	display: inline-block;
	margin-top: 3px;
	color: #fff;
	font-size: 11px;
	font-family: 'Noto Sans', sans-serif;
	padding: 3px 8px;
	background: #315BA6;
	text-decoration: none;
	border-radius: 3px;
	-wekit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.reply-comment {
	opacity: 0.8;
}

/*-------------------------------------------------*/
/* 14 Single-work
/*-------------------------------------------------*/

.single-work .blog-post {
	padding-bottom: 10px;
}

.what-we-do-widget ul {
	margin: 0;
}

.what-we-do-widget ul li {
	padding-left: 20px;
	background: url('../images/list-style.png') 3px center no-repeat;
	margin-bottom: 10px;
}

.what-we-do-widget ul li a {
	display: inline-block;
	color: #2b2b2b;
	font-size: 13px;
	font-family: 'Noto Sans', sans-serif;
	text-decoration: none;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.what-we-do-widget ul li a:hover {
	color: #315BA6;
}

.visit-project {
	display: inline-block;
	color: #fff;
	font-size: 13px;
	font-style: italic;
	font-family: 'Noto Sans', sans-serif;
	padding: 8px 18px;
	background: #315BA6;
	cursor: pointer;
	margin-bottom: 30px;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
}

.visit-project:hover {
	opacity: 0.8;
	color: #fff;
	text-decoration: none;
}